{% extends 'base.html.twig' %}

{% block title %}Accueil du forum{% endblock %}

{% block body %}
<h1>Accueil du forum</h1>


    <a href="{{ path('register_index') }}">S'enregistrer</a><br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('logout_route') }}">Se Deconnecter</a><br>
    {% else %}
    <a href="{{ path('app_login') }}">Se connecter</a><br>
    {% endif %}
    <hr>



    <ul>
    {% for categorie in categories %}

        <li><a href="{{ path('forum_show', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>

    {% endfor %}
    </ul>
{% endblock %}
