{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/create_topic.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block header %}
<div>
    <h2 id="h2-base">Nos Articles</h2>
    <div class="image-header">
    {% for article in articles %}
      <div class="image-header-article{{ loop.index }}">
        <a href="{{ path('article_show', {'id': article.id}) }}">
          <img src="{{ asset(article.imageLink) }}">
          <h3>{{ article.titre }}</h3>
        </a>
      </div>
    {% endfor %}
    </div>

  <!--div class="image-header">
    <div class="image-header-article1">
        <a href="{{ path('page_ayurveda') }}"><img src="{{ asset('images/herb.jpg')}}">
        <h3 id="h3-image1">La réussite de l'ayurveda</h3></a>
    </div>
    <div class="image-header-article2" >
        <a href="{{ path('page_yoga') }}"><img src="{{ asset('images/yoga.jpg')}}">
        <h3 id="h3-image2">Le yoga libérateur </h3></a>
    </div>
    <div class="image-header-article3">
        <a href="{{ path('page_thym') }}"><img src="{{ asset('images/thym.jpg')}}">
        <h3 id="h3-image3">Le thym à travers les siècles de médecine</h3></a>
  </div>
  <div class="image-header-article4">
      <a href="{{ path('page_naturophatie') }}"><img src="{{ asset('images/eau.jpg')}}">
      <h3 id="h3-image1">L'eau dans la naturophatie</h3></a>
  </div>
</div-->
</div>
<!-- k rel="stylesheet" href="{{ asset('css/index.css') }}"> -->
{% endblock header %}



{% block body %}
<h2 class="fildestopic">Fil des Topics</h2>
<div class="body-page">
      {% for topic in topics %}
          {% if topic.user.imageLink is null %}
          <img class="imgpp{{ loop.index }}" src="{{ asset('images/pp' ~ random(5) ~ '.png')}}">
          {% else %}
            <img class="imgpp{{ loop.index }}" src="{{ asset(topic.user.imageLink)}}">
        {% endif %}
        <div class="trending-topic{{ loop.index }}">
          <h5><a href="{{ path('forum_topic_show', {'id': topic.id }) }}">{{ topic.titre }}</a></h5>
          <p>{{ topic.user.name }}
            <span>1 commentaire</span>
          </p>
        </div>
      {% endfor %}
</div>

  <div class="fondcategorie"> <!--  background image -->
 <div class="categorie"> <!-- grille -->
{% set pos = 0 %}
{% for categorie in categories %}
{%  if loop.index == 5 %}
{% set pos = 1 %}
<h6 class="myButton5">CATEGORIES</h6>
{% endif %}


  <a href="{{ path('forum_show', {'id': categorie.id}) }}" class="myButton{{ loop.index + pos }}">
    <h6>{{ categorie.name }}</h6>
  </a>
{% endfor %}


</div>
</div>



{% endblock body %}

{% block footer %}
      <div class="button_cont1" align="center"><a class="example_a" href="{{ path('register_index') }}">S'enregistrer</a><br></div>
{% endblock %}
