{% extends 'base.html.twig' %}

{% block title %}S'enregistrer sur le forum{% endblock %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/create_topic.css') }}">

{% endblock %}
{% block body %}
<h1>S'enregistrer sur le forum</h1>

<div class="container">
  {{ form_start(register_form) }}
  {{ form_widget(register_form) }}
  <input type="submit" name="register" value="Enregistrer">
  {{ form_end(register_form) }}
</div>

{% endblock %}
