{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/article2.css') }}">
{% endblock %}

 {% block title %}  {% endblock %}



{% block body %}

  {#{ form_start(message_topic) }#}

  <!--input Type="submit" name="submit" value="envoyer"-->
  <!--input Type="reset" name="reset" value="effacer"-->
  {#{ form_end(message_topic) }#}

  <div class="container">

  

  <ul>
    {% for message in messages %}
    <li>
      <h3>{{message.titre}}</h3>
      <p>{{message.contenu}}</p>
    </li>

    {% endfor %}
    <a href="{{ path('forum_message_create', {'id': topic.id}) }}"> créer un message</a> - <a href="{{ path('home') }}">back to list</a>
  </ul>

</div>
{% endblock%}
