{% extends 'base.html.twig' %}

{% block title %}{{ 'Message Index' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Message Index' | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Title' | trans }}</th>
                <th>{{ 'Content' | trans }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.titre }}</td>
                <td>{{ message.contenu }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">{{ 'show' | trans }}</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">{{ 'Edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">{{ 'Create new message' | trans }}</a>
{% endblock %}
