{% extends 'base.html.twig' %}

{% block title %}{{ 'New topic' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'New topic' | trans }}</h1>

    {{ include('topic/_form.html.twig') }}

    <a href="{{ path('topic_index') }}">{{ 'back to list' | trans }}</a>
{% endblock %}
