{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new categorie' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new categorie' | trans }}</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">{{ 'back to list' | trans }}</a>
{% endblock %}
