{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">{{ 'back to list' | trans }}</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
