{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/article.css') }}">
<link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">

{% endblock %}

{% block title %} Article {% endblock %}

{% block body %}

    <!-- <div class="img-link">ImageLink</div>
            <img src="{{ asset(article.imageLink) }}"> -->
            <!-- <th>DateCreation</th>
            <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td> -->
  <div class="container">

  <article>


                <h3>{{ article.titre }}</h3>

                        <img src="{{ asset(article.imageLink) }}">

  <p>{{ article.contenu }}</p>

  <div class="button-edit">
    <a href="{{ path('article_index') }}">back to list</a>
    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
    <a href="{{ path('article_index') }}">{{ 'back to list' | trans }}</a>

  </div>
  </article>
</div><!-- .container -->


{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('javascript/style.js') }}"></script>
{% endblock %}
