{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/article.css') }}">



{% endblock %}

{% block title %} Article {% endblock %}

{% block body %}

      <th>ImageLink</th>
            <!-- <td><img src="{{ asset(article.imageLink) }}"></td> -->
            <!-- <th>DateCreation</th>
            <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td> -->
  <section class="container">
  <h1>{{ article.titre }}</h1>

  <article>

                <h3>{{ 'Id' | trans }}</h3
                <td>{{ article.id }}</td>
                <th>Titre</th>
                <td>{{ article.titre }}</td>

  <p>{{ article.contenu }}</p>
  </article>
  </section><!-- .container -->


  <a href="{{ path('article_index') }}">back to list</a>
  <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>


    <a href="{{ path('article_index') }}">{{ 'back to list' | trans }}</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'edit' | trans }}</a>


{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('javascript/style.js') }}"></script>
{% endblock %}
