{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="bloc-article">


                <h3>{{ 'Id' | trans }}</h3
                <td>{{ article.id }}</td>
                <th>Titre</th>
                <td>{{ article.titre }}</td>

                <th>ImageLink</th>
                <td><img src="{{ asset(article.imageLink) }}"></td>
            </tr>
          <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </div>

    <a href="{{ path('article_index') }}">{{ 'back to list' | trans }}</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">{{ 'edit' | trans }}</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
