{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit User' | trans }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ 'Edit User' | trans }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <div id="userActions">
	<p>Drag &amp; Drop Image</p>
	<input type="file" id="fileUpload" />
</div>
<img id="imgPrime" src="" alt="uploaded image placeholder" />

    <!-- <a href="{{ path('user_index') }}">{{ 'back to list' | trans }}</a> -->

    {{ include('user/_delete_form.html.twig') }}
  </div>

{% endblock %}
